
@{
    ViewBag.Title = "Portfolio";
}
<h2>Portfolio</h2>

@*// added embaded link to sketchfab model link*@
<div class="container">
    <div class="col-xs-12">
        <div class="sketchfab-embed-wrapper">
            <iframe width="640" height="480" src="https://sketchfab.com/models/c3fc0fef6d1d4dd59b9e1c63aed26b90/embed" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel=""></iframe>

            <p style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;">
                <a href="https://sketchfab.com/models/c3fc0fef6d1d4dd59b9e1c63aed26b90?utm_medium=embed&utm_source=website&utm_campain=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">Nuclear Grenade</a>
                by <a href="https://sketchfab.com/Habbex?utm_medium=embed&utm_source=website&utm_campain=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">Habbex</a>
                on <a href="https://sketchfab.com?utm_medium=embed&utm_source=website&utm_campain=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">Sketchfab</a>
            </p>
        </div>
    </div>


</div>


