
@{
    ViewBag.Title = "Administration";
}
<h1 align="center">Administration Page</h1>


<h2 align="center">Welcome Admin</h2>
<hr/>
    @Html.ActionLink("Manage Products", "ProductList", null, new { @class = "btn btn-lg btn-info" })
    @Html.ActionLink("Manage Voucher Types", "VoucherTypeList", null, new { @class = "btn btn-lg btn-info" })
    @Html.ActionLink("Manage Vouchers", "VoucherList", null, new { @class = "btn btn-lg btn-info" })
    @Html.ActionLink("Manage Users and Roles", "Index", "Roles",null, new { @class = "btn btn-lg btn-info" })



